<%- include('header') %>
    <div class="container ">
        <h1>View Password Lists</h1>
        
        <div class="row">
          <div class="pull-right search-box">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
           
                <table class="table ">
                    <thead>
                       <tr>
                         <th>Password Catagory</th>
                         <th>Password Details</th>
                         <th>Action</th>
                       </tr>
                    </thead>
                    <% if(records.length>0){
                      records.forEach(function(row){

                   
                      %>
                           <tr>
                               <td><%= row.Password_Catagory %></td>
                               <td><%= row.Password_Details %></td>

                               <td> <a class="btn btn-primary btn-xs" href="/View-All-Password/edit/<%= row._id%>"  > <i class="fa fa-edit" aria-hidden="true"></i> </a>
                                 <a class="btn btn-danger btn-xs" href="/View-All-Password/delete/<%= row._id%>" onclick=" return confirm('Are You Sure ?')" > <i class="fa fa-trash" aria-hidden="true"></i> </a>
                               </td>
           
                           </tr>
                      <%    }) }%>
               </table>
               <div class="pagignation_div">
                <% if (pages > 0) { %>
                  <ul class="pagination text-center">
                      <% if (current == 1) { %>
                          <li class="disabled"><a>First</a></li>
                      <% } else { %>
                          <li><a href="/View-All-Password/1">First</a></li>
                      <% } %>
                      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                      <% if (i !== 1) { %>
                          <li class="disabled"><a>...</a></li>
                      <% } %>
                      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                          <% if (i == current) { %>
                              <li class="active"><a><%= i %></a></li>
                          <% } else { %>
                              <li><a href="/View-All-Password/<%= i %>"><%= i %></a></li>
                          <% } %>
                          <% if (i == Number(current) + 4 && i < pages) { %>
                              <li class="disabled"><a>...</a></li>
                          <% } %>
                      <% } %>
                      <% if (current == pages) { %>
                          <li class="disabled"><a>Last</a></li>
                      <% } else { %>
                          <li><a href="/View-All-Password/<%= pages %>">Last</a></li>
                      <% } %>
                  </ul>
                <% } %>
               </div>
        </div>
    </div>
    <script>
      CKEDITOR.replace( 'editor' );
  </script> 
    <%- include('footer') %>
